@use "../../styles/variables" as *;

.disclaimer-text {
  line-height: 1.3;
}

.report-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.logo-sm {
  max-width: 120px;
}

.text-accent {
  color: $accent;
}

.doughnut-wrapper {
  height: 140px;
}
