@use "../../styles/variables" as *;

.disclaimer-text {
  line-height: 1.3;
}

.report-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.95rem;
  color: #495057;
  line-height: 1.6;
}

.logo-sm {
  max-width: 120px;
}

.text-accent {
  color: $accent-yellow;
}

.doughnut-wrapper {
  height: 140px;
}
