@use "./styles/variables" as *;

@use "../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success
);

body {
  font-family: "Inter", sans-serif;
  background: $bg-blue-gray;
}

.full-page-container {
  min-height: var(--available-height, 100vh);
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.cursor-pointer {
  cursor: pointer;
}
