$primary: #00275a;
$secondary: #146ca8;
$success: #28a745;

@import "../node_modules/bootstrap/scss/bootstrap";

$background-blue-gray: #e8edf3;
$background-gray: #f2f4f6;
$card-gray: #f2f4f7;
$moderate: #fd7e14;
$accent: #fad749;

body {
  font-family: "Lato", sans-serif;
  background: $background-blue-gray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-card {
  background-color: $card-gray;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
