@use "sass:color";

$primary: #00275a;
$secondary: #146ca8;
$success: #28a745;

@use "../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success
);

$background-blue-gray: #e8edf3;
$background-gray: #f2f4f6;

body {
  font-family: "Lato", sans-serif;
  background: $background-blue-gray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.min-h-70vh {
  min-height: 70vh;
}
