$primary: #00275a;
$secondary: #146ca8;
$success: #28a745;

@import "../node_modules/bootstrap/scss/bootstrap";

$background-blue-gray: #e8edf3;
$background-gray: #f2f4f6;

body {
  font-family: "Lato", sans-serif;
  background: $background-blue-gray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
