@use "./styles/variables" as *;

@use "../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success
);

body {
  font-family: "Inter", sans-serif;
  background: $bg-blue-gray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.min-h-70vh {
  min-height: 70vh;
}

.cursor-pointer {
  cursor: pointer;
}
